@media all {
  .page-break {
    display: none;
  }
}

@media print {
  .print-view {
    display: block !important;
  }
}

@media print {

  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact !important;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block !important;
    page-break-before: auto;
  }
}

@media print {
  .non-printable {
    display: none !important;
  }
}

@page {
  size: auto;
  margin: 20mm;
}